<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <!-- http://localhost:2013/PersonService.svc/updateperson -->
    <!-- http://localhost:2013/PersonService.svc/MyService/getname/3 -->

    <!-- Service -->
    <services>
      <service name="WCFTutorial.PersonService" behaviorConfiguration="serviceBehavior">
        <endpoint address="MyService" 
                  contract="WCFTutorial.IPersonService"  
                  binding="webHttpBinding" 
                  bindingConfiguration="webHTTPTransportSec"
                  behaviorConfiguration="webEnpointBehavior"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:2013/PersonService.svc/MyService"/>
          </baseAddresses>
        </host>
        
      </service>
    </services>

    <!-- Bindings-->
    <!-- For Security purposes. Will enable us to use HTTPs-->
    <!-- Requires a Self Signed SSL certificate-->
    <!-- Based on the following tutorial http://allen-conway-dotnet.blogspot.com/2012/05/creating-wcf-restful-service-and-secure.html -->
    <bindings>
      <webHttpBinding>
        <binding name="webHTTPTransportSec"> 
          <security mode="Transport"/> 
        </binding>
      </webHttpBinding>
    </bindings>
   
    <!-- Behaviors -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="webEnpointBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"
                   helpEnabled="true"/> <!-- helpEnabled will expose the list of operations available within the service-->
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
         </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
